 <div class="blog card">
        <h1 class="card-header">
          Posted by: {{blog.name}}, {{blog.id}}
        </h1>
        <p class="card-body">{{blog.description}}</p>
        <p class="card-footer"> Created on: {{format_date blog.date-created}}</p>
</div>