 <div class="blog card">
        <h1 class="card-header">
          Posted by: {{name}}, {{id}}
        </h1>
        <p class="card-body">{{description}}</p>
        <p class="card-footer"> Created on: {{format_date date_created}}</p>
</div>