 <!-- We implement the built-in helper, #each. This helper will iterate over posts -->
  {{#each blogs as |blog|}}
  <!-- For each blog in the array of blog objects, the following <div> will be rendered. -->
    <div class="blog col-md-5 container-fluid">
        <h1 class="row justify-content-space-around">
             {{blog.name}}
             {{blog.id}}
        </h1>
        <p class="row">{{blog.description}}</p>
        <p class="row">{{blog.date-created}}</p>
    </div>
    <!-- Below, we close the #each helper. -->
  {{/each}}