  <div class="container-fluid d-flex justify-content-center">
            <h1 class="header bg-info">Post #{{blog.id}}</h1>
        <div class="bg-light">{{< blog-post}}</div>
      <div class="bg-light">{{< comment}}</div>
  </div>